---
---
<% content_for(:title) do %>Cocktails | Ingredients | <%= ingredient.identity%><% end %>
<h1><%= ingredient.identity %></h1>

<% if ingredient.proprietary? %>
<p>Proprietary ingredient!</p>
<% end %>

<h2>Category: <%= link_to ingredient.category, category_path(ingredient.category) %></h2>

<h2>Description</h2>

<%= ingredient.description %>


<% if ingredient.recipe_formulations.any? %>
<h2>Used in:</h2>

<ol>
  <% ingredient.recipe_formulations.each do |formulation| %>
  <li><%= link_to formulation.title, recipe_formulation_path(formulation) %>
  <% end %>
</ol>

<% end %>
