---
---
<% content_for(:title) do %>Cocktails | Recipes | <%= recipe.title %><% end %>
<h1><%= recipe.title %></h1>

<div class="unit-selector">
  Units:
  <label for="units-ml"><input id="units-ml" type="radio" name="units" value="ml" checked="checked"/> ml</label>
  <label for="units-cl"><input id="units-cl" type="radio" name="units" value="cl"/> cl</label>
  <label for="units-oz"><input id="units-oz" type="radio" name="units" value="oz"/> oz</label>
  <label for="units-gills"><input id="units-gills" type="radio" name="units" value="gill"/> gill</label>
</div>

<p><%= recipe.ingredient_summary %></p>

<% if recipe.categorised_characteristics.any? %>
<%= partial('recipes/categorised_characteristics', object: recipe.categorised_characteristics) %>
<% end %>

<% if recipe.recipe_formulations.any? %>
<ol>
  <% recipe.recipe_formulations.each do |formulation| %>
    <li id="<%= formulation.to_param %>">
      <h2><%= formulation.title %></h2>

      <p>Presentation: <%= formulation.presentation %></p>

      <p>Ingredients list: <%= formulation.ingredients_list %></p>

      <% if formulation.recipe_formulation_ingredients.any? %>
      <h3>Ingredients</h3>
      <ul>
        <% formulation.recipe_formulation_ingredients.each do |ingredient| %>
        <li><%= link_to ingredient.name, constituent_part_path(ingredient) %>
        <% end %>
      </ul>
      <% end %>

      <div><pre><%=h formulation.xmlbody %></pre></div>

      <ol class="recipe-steps"><%= tidy_xml(formulation.xmlbody_as_xml) %></ol>

      <% if formulation.categorised_characteristics.any? %>
      <%= partial('recipes/categorised_characteristics', object: formulation.categorised_characteristics) %>
      <% end %>
    </li>
  <% end %>
</ol>
<% end %>
