---
title: Cocktails | Recipes | <%= recipe.title %>
---

<h1><%= recipe.title %></h1>

<p><%= recipe.ingredient_summary %></p>

<% if recipe.categorised_characteristics.any? %>
<ul>
  <% recipe.categorised_characteristics.each do |category, characteristics| %>
    <li><%= category %>:
      <ul><% characteristics.each do |characteristic| %>
        <li><%= characteristic.label %></li>
      <% end %></ul>
    </li>
  <% end %>
</ul>
<% end %>

<% if recipe.recipe_formulations.any? %>
<ol>
  <% recipe.recipe_formulations.each do |formulation| %>
    <li id="<%= formulation.to_param %>">
      <h2><%= formulation.title %> (<%= formulation.year %>)</h2>

      <p>Presentation: <%= formulation.presentation %></p>

      <p>Ingredients list: <%= formulation.ingredients_list %></p>

      <% if formulation.recipe_formulation_ingredients.any? %>
      <h3>Ingredients</h3>
      <ul>
        <% formulation.recipe_formulation_ingredients.each do |ingredient| %>
        <li><%= link_to ingredient.name, constituent_part_path(ingredient) %>
        <% end %>
      </ul>
      <% end %>

      <div><pre><%=h formulation.xmlbody %></pre></div>

      <ol class="recipe-steps"><%= tidy_xml(formulation.xmlbody_as_xml) %></ol>

      <% if formulation.categorised_characteristics.any? %>
      <h3>Characteristics</h3>
      <ul>
        <% formulation.categorised_characteristics.each do |category, characteristics| %>
        <li><%= category %>:
          <ul><% characteristics.each do |characteristic| %>
            <li><%= characteristic.label %></li>
          <% end %></ul>
        </li>
        <% end %>
      </ul>
      <% end %>
    </li>
  <% end %>
</ol>
<% end %>
